*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* main-layouts */

body {
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 3rem auto;
  background-color: #ffffff;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* Header-layouts */
header {
  background-color: #17abb3;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
}

.header-img img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.header-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos-name-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos-contact div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

/* left-column-layouts */

.left-column {
  background-color: #eef0f2;
  padding: 3rem;
}

.left-column section {
  margin-bottom: 3rem;
}

.tech-skills {
  margin-bottom: 2rem;
}

.left-column section div,
.soft-skills ul,
.hobbies ul {
  border-top: 1px solid #e3e3e3;
  margin-top: 0.5rem;
  padding-top: 1rem;
}

.tech-skills ul,
.languages ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.soft-skills ul,
.hobbies ul {
  padding-left: 1.2rem;
}

/* header-Typos */

h1,
header h2,
a,
header p {
  color: #ffffff;
}

a,
p {
  font-family: "Lato", sans-serif;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

h1 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

/* main-typos */

main h3 {
  color: #17abb3;
  font-size: 1.5rem;
}

main p,
main li {
  color: #333333;
  font-size: 0.875rem;
}

.tech-skills li,
.languages li {
  list-style: none;
}

.fa-star {
  color: #17abb3;
  font-size: 0.8rem;
}

.tech-skills ul li:nth-child(1),
.languages ul li:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 2;
}

.tech-skills ul li:nth-child(2),
.languages ul li:nth-child(2) {
  justify-self: end;
}

.soft-skills li,
.hobbies li {
  font-size: 1.2rem;
  list-style: square;
}

.soft-skills li::marker,
.hobbies li::marker {
  color: #17abb3;
}

/* 

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
} */
